<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip</title>
</head>
<body>
    <div id="wrapper">
        <h1>Hello {{logged_in_user.fname}}! Create a trip!</h1>
        <a href="/logout">Logout</a>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        <form action="/trips/new" method="post">
            {% csrf_token %}
            <label for="destination">Destination</label>
            <input type="text" name="destination" id="destination">
            <label for="sdate">Start Date</label>
            <input type="date" name="sdate" id="sdate">
            <label for="edate">End Date</label>
            <input type="date" name="edate" id="edate">
            <label for="plan">Plan</label>
            <input type="text" name="plan" id="plan">
            <button>Submit</button>
        </form>
        <form action="/success">
            {% csrf_token %}
            <button>Cancel</button>
        </form>
    </div>
</body>
</html>