<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
</head>
<body>
    <div id="wrapper">
        <h1>Edit Show {{show.id}}</h1>
        <form action="/show/edit/{{show.id}}" method="post">
            {% csrf_token %}
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{show.title}}">
            <label for="network">Network</label>
            <input type="text" name="network" id="network" value="{{show.network}}">
            <label for="rel_date">Release Date</label>
            <input type="date" name="rel_date" id="rel_date" value="{{show.rel_date}}">
            <label for="desc">Description</label>
            <input type="text" name="desc" id="desc" value="{{show.desc}}">
            <button>Update</button>
        </form>
        <a href="/show/info/{{show.id}}">Go to Show</a>
        <a href="/show">Go Back</a>
    </div>
</body>
</html>